<div div="container" ng-app="app">
  <div ng-controller="OrdersController">


    <div class="new-order">
      <h2>New order</h2>

      <form ng-submit="add()" class="form-horizontal">
        <div class="control-group">
          <div class="controls">
            <input type="text" ng-model="order.name" placeholder="name"/>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="text" ng-model="order.founder" placeholder="founder"/>
          </div>
        </div>
        <div class="control-group input-append">
          <div class="controls">
            <input type="text" ng-model="order.ordered_at" placeholder="ordered_at" bs-timepicker/>
            <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="submit" name="create-order" class="btn btn-primary" value="create-order"/>
          </div>
        </div>
      </form>
    </div>

    <div class="order-wrapper">
      <div class="order">
        <!--<h2>Active orders</h2>-->
        <ul ng-repeat="order in orders">
          <li>
            <button class="btn-large btn btn-success" ng-click="show(order-details)">{{order.name}} {{order.ordered_at |
              date:'H:mm' }}
              {{order.founder}}
            </button>
            <a ng-click="remove(order._id)"><i class="icon-remove-circle"></i></a>
            <a ng-click="show(order)"><i class="icon-plus"></i></a>
            <a ng-click="save(order)">save</a>

            <div class="order-details">
              <p>koszt dostawy: {{order.price}}</p>
              <table class="order-details table table-striped table-hover">
                <thead>
                <tr>
                  <th>Kto</th>
                  <th>Co</th>
                  <th>Koszt</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dish in order.dishes">
                  <td>{{dish.user_id}}</td>
                  <td>{{dish.description}}</td>
                  <td>{{dish.price}}</td>
                  <td><a ng-click="remove(dish._id)"><i class="icon-remove-circle"></i></a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </li>
          <!--<pre> {{order | json}} </pre>-->
        </ul>
      </div>
    </div>

    <div ng-controller="DishesController" class="add-dish">
      <h2>Add dish to <span class="text-info">{{order.name}}</span></h2>

      <form ng-submit="add()" class="form-horizontal">
        <div class="control-group">
          <div class="controls">
            <input type="text" ng-model="dish.user_id" placeholder="user"/>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="text" ng-model="dish.price" placeholder="price"/>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <textarea ng-model="dish.description" placeholder="description"></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="submit" name="add-dish-to-order" class="btn btn-primary" value="add-dish-to-order"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
