defaults: &defaults
  adapter: postgresql
  username: pasher
  password:
  host: localhost
  pool: 5
  timeout: 5000

development:
  <<: *defaults
  database: pasher_development

test: &test
  <<: *defaults
  database: pasher_test

production:
  <<: *defaults
  database: pasher_production
