#chat
  ul
    list-style-type: none
    margin: .1em .75em
    padding: 0
    li
      .message-author
        display: inline
        font-weight: bold
      .message-text
        margin-left: .4em
        display: inline
  form
    margin: 1em auto .3em auto
