.orders-wrapper

  .orders
    padding: 20px 0
    margin: 0 auto
    max-width: 95%

  ul.orders-list
    margin: 0
    padding: 0
    list-style-type: none

    li
      padding: 0
      margin: 15px 0
      .order-header
        strong
          color: #676F74

      .order-sub-header
        color: #C9C9CF

      table.order-details
        text-align: left
        color: #989DA0
        tbody, tfoot
          tr
            td, th
              border-left: 0
              border-right: 0

        strong
          color: #36536E
          font-weight: bold

        tr.active
          background: #F5F7F8

        tfoot
          background: #F4FBF8
          color: #23B27E
          font-weight: bold
          td, th
            padding: 8px 14px
            line-height: 2.5
