.no-display {
  display: none;
}

a {
  cursor: pointer;
}

.required, input[required], textarea[required] {
  border-color: #b94a48;
}


.new-order-wrapper
{
  background: #eee;
.new-order {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 90%;
}

}

.orders-wrapper {
  background: #fdfdfd;
  .orders {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 95%;
  }
  ul.orders-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0;
      margin: 15px 0;
    }
    .order-description {
      text-align: left;
    }
    .order-details {
      table {
        border: 2px solid #222;
        border: 0;
        background: #fff;
        th {
          text-align: center;
        }
        tfoot {
          background: #ffe;
        }
      }
    }
  }
}

.add-dish-wrapper {
  background: #f6f6f6;
  padding: 30px 0 50px 0;
  .add-dish {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
  }
}

.logged-in-text {
  padding: .3em 2.5em;
  background: #fdfdfd;
  font-size: smaller;
}

.welcome-to-pasher {
  font-size: x-large;
  margin-top: 70px;
}
