.no-display {
  display: none;
}

.new-order-wrapper {
  background: #dec;
  .new-order {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 90%;
  }
}


.orders-wrapper {
  background: #fda;
  .orders {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 95%;
  }
  ul.orders-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0;
      margin: 15px 0;
      a {
        cursor: pointer;
      }
    }
    .order-description {
      text-align: left;
    }
    .order-details {
      table {
        border: 2px solid #222;
        border: 0;
        background: #fff;
        th {
          text-align: center;
        }
      }
    }
  }
}

.add-dish-wrapper {
  background: #ace;
  padding: 30px 0 50px 0;
  .add-dish {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
  }
}
