$pageWidth: 700px;
@mixin gradient-bg($from, $to) {
  background-color: $from;
// background-image: url(images/fallback-gradient.png);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
}

.new-order {
  width: 100%;
  background: #dec;
  padding: 30px 0 50px 0;
  margin: 0;
  text-align: center;

  .controls {
    margin-left: 0;
  }
  .form-horizontal {
    margin: 0 auto;
    width: $pageWidth;
    padding: 0;
  }
}

.order-wrapper {
  width: 100%;
  padding: 30px 0 50px 0;
  text-align: center;
  margin: 0;
  padding: 0;
  .order {
    //background: #cee;
    @include gradient-bg(lighten(#3a87ad, 45%), lighten(#3a87ad, 35%));
    padding: 30px 0;
    border-left: 3px solid #333;
    border-right: 3px solid #333;
    width: $pageWidth;
    margin: 0 auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0;
      margin: 15px 0;
      a {
        cursor: pointer;
      }
    }
    .order-details {
      table {
        width: $pageWidth * 4/5;
        border: 2px solid #222;
        margin: 0 auto;
        border: 0;
        background: #fff;
        tr {
          th {
            border:0;
          }
          td {
            border:0;
          }
        }
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
    }
  }
}

.add-dish {
  width: 100%;
  background: #ace;
  padding: 30px 0 50px 0;
  text-align: center;
  .controls {
    margin-left: 0;
    text-align: center;
  }
  .form-horizontal {
    margin: 0 auto;
    width: $pageWidth;
  }
}