$pageWidth: 700px;
@mixin gradient-bg($from, $to) {
  background-color: $from;
// background-image: url(images/fallback-gradient.png);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
}

.new-order-wrapper {
  background: #dec;
  .new-order {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 90%;
    .form-horizontal {
      margin: 0 auto;
      width: $pageWidth;
      padding: 0;
    }
  }
}


.orders-wrapper {
  background: #fda;
  .orders {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 95%;
  }
  ul.orders-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0;
      margin: 15px 0;
      a {
        cursor: pointer;
      }
    }
    .order-details {
      table {
        border: 2px solid #222;
        border: 0;
        background: #fff;
        th {
          text-align: center;
        }
      }
    }
  }
}

.add-dish-wrapper {
  background: #ace;
  padding: 30px 0 50px 0;
  .add-dish {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
  }
}
